## 파이썬 자료형
- 숫자형 (Number)
- 문자형 (String)
- 리스트 (List)
- 튜플형 (Tuple), 딕셔너리형 (Dict), 집합형(Set)
- 불형 (Bull)

* 자료를 담는 그릇

### 숫자형

In [4]:
# a = 1   # int
a = 1.0   # float
type(a)

float

In [6]:
a = 1
b = 10
print(a + b)
print(a - b)
print(a * b)
print(a / b)

11
-9
10
0.1

### 문자형 (String)
- 쌍 따옴표(") 또는 작은 따옴표(')로 감싸져 있는 형태

In [7]:
a = 'python'
type(a)   # type() 변수의 타입을 리턴

str

In [12]:
word = "Act as though\nit is impossible to fail"
print(word)

# 따옴표*3
word2 = """Act as though
it is impossible to fail"""
print(word2)

Act as though
it is impossible to fail
Act as though
it is impossible to fail

In [15]:
word = 'It\'s kind of fun to do the impossible'   # 작은 따옴표 안에 it's 작은 따옴표를 만나면 문자열 종료됨. it's 그대로 나오려면 \ 앞에 넣기
word

"It's kind of fun to do the impossible"

In [22]:
a = """"Failure is simply the opportunity to begin again." he says."""
# (1) 작은 따옴표
a = '"Failure is simply the opportunity to begin again." he says."'
print(a)
# (2) 백 슬래쉬
a = "\"Failure is simply the opportunity to begin again.\" he says.\""
print(a)
# (3) """
a = '''"Failure is simply the opportunity to begin again." he says."'''
print(a)

"Failure is simply the opportunity to begin again." he says."
"Failure is simply the opportunity to begin again." he says."
"Failure is simply the opportunity to begin again." he says."

In [27]:
a = "L"
b = "I"
c = "F"
d = "E"

(a+b+c+d)*10    # 문자열은 더하기와 곱하기만 가능

'LIFELIFELIFELIFELIFELIFELIFELIFELIFELIFE'

In [28]:
len("python")   # 문자열의 길이값을 리턴

6

In [42]:
# 문자열 indexing & slicing
# python의 문자는 항상 0부터 시작
a = "hello python!"
a[0]
a[-1]

a[0:5]   # 0 <= x < 4  , 0은 생략가능
# a[:5]
a[6:]

'python!'

In [50]:
str = "TitanicJames"
title = str[:7]
director = str[7:]
title, director

('Titanic', 'James')

## 리스트형(List)
- 여러 개의 변수를 함번에 담아둘 수는 없을까?

In [3]:
x = [1,2,3,4,5]
type(x)

# indexing, slicing
x[0:3]
x[:]

[1, 2, 3, 4, 5]

In [6]:
x = ["a", 'b', 'c',['d','e']]
x[3][1]   # 리스트 안의 리스트 가져오는 법

'e'

### 튜플형(Tuple)

In [7]:
t=(1,2,3,(4,5,))
type(t)

tuple

### 딕셔너리형(Dict)
- {} 중괄호로 감싸져 있고, 키와 벨류로 구성되어 있다.

In [11]:
x = {"key" : "value", 'name':'jiyun','age':24, 'city':['Seoul', 'Ulsan']}
type(x)
x['city'][1]

'Ulsan'

### 집합형(Set)
- 순서가 없다
- 중복을 허용하지 않는다.

In [12]:
x=set([5,2,1,1,1,1,1,1,7,7])
type(x)

x = set(["a","b","c","b"])
x

{'a', 'b', 'c'}

### 불형(Boolean)

In [14]:
type(True)
type(1 < 2)

bool

## 제어문
- if (조건문)
- for (반복문)
- while (반복문)

### if 조건문

In [17]:
number = int(input("숫자를 입력하세요: "))

if number < 2:
    print("2보다 작다")
elif number < 5:
    print('5보다 작다')
else:
    print("5보다 크다")

5보다 크다

In [22]:
money = int(input("얼마 있으신가요?"))

if money >= 70000:
    print("비행기 타라.")
elif money >= 50000:
    print("기차 타라.") 
elif money >= 30000:
    print("버스 타라.")
else:
    print("걸어 가라.")

걸어 가라.

### 반복문 (for, while)

In [26]:
for i in range(10):   # 0~9
    print("hello python", i)

hello python 0
hello python 1
hello python 2
hello python 3
hello python 4
hello python 5
hello python 6
hello python 7
hello python 8
hello python 9

In [29]:
num = 0
for i in range(10):
    num = num +1
    print(num)

    if num == 3:
        print('세번째 반복문')
        continue

    print(num)

1
1
2
2
3
세번째 반복문
4
4
5
5
6
6
7
7
8
8
9
9
10
10

In [33]:
cities=["seoul","daejeon","daegu",'busan']
for city in cities:
    print(city)

    if city == "busan":
        print('부산 가고 싶다.')

seoul
daejeon
daegu
busan
부산 가고 싶다.

In [35]:
for i in "python":
    print(i)
else:
    print('반복문 종료 후 실행')

p
y
t
h
o
n
반복문 종료 후 실행

In [36]:
# while

num = 0
# while True:  #무한 루프
#    print(num)
while num < 5:
    num = num +1
    print(num)

1
2
3
4
5

In [2]:
#(1) for
num = 0
for i in range(6):
    num = num + i
    print(num)

0
1
3
6
10
15

In [41]:
#(2) while
i = 0
result = 0
while i < 6:
    result = result + i
    i += 1
print(result)

15

In [45]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [44]:
num = int(input("숫자를 입력하세요: "))
if num > 0:
    print("양수")
elif num < 0:
    print("음수")
else:
    print("0은 0이야.")

음수

In [31]:
num = int(input("숫자를 입력하세요: "))
for i in range(1, 13):
    print(num,'x', i,'=', num * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

In [40]:
result = 0
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        result += i
print(result)

315

## def
- def: define 정의하다
- 반복되는 코드들을 함수로 묶어서 => 재활용하고자 할 때 사용

In [46]:
#(1) 함수 정의
def name():
    print("이름")
name()

이름

In [47]:
# (1) 매개변수가 있는 함수

def show_name(name):
    print(name)

show_name("지윤")

지윤

In [50]:
# (2) 리턴이 있는 함수
def sum(a,b):
    result = a + b
    return result
result = sum(3,4)
print(result)

7

In [63]:
def grade(name, score):
    if score >= 90:
        print(name+'님은 A등급입니다.')
    elif score >= 80:
        print(name+'님은 B등급입니다.')
    elif score >= 70:
        print(name+'님은 C등급입니다.')
    elif score >= 60:
        print(name+'님은 D등급입니다.')
    else score < 60 and score >= 0:
        print(name+'님은 F등급입니다.')

grade('babo', 55)

babo 님은 F등급입니다.

In [65]:
# return

def show_grade(name, score):
    grade = 0

    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    elif score < 60 and score >= 0:
        grade = 'F'
    return grade

show_grade('babo', 55)

'F'

In [ ]:
def result_grade(score, name):
    result = []

    grade = ""
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    
    result.append()

### 내장함수와 외장함수

- 내장함수는 파이썬 언어 자체가 이미 품고 있는 함수 //Built-in Functions
- 외장함수는 외부에서 불러와서 사용하는 함수 //External Function

In [66]:
# 내장함수

# (1) abs - 절댓값
abs(-111)

111

In [70]:
# (2) upper(), lower()

a = 'python'
b = a.upper()   # 소문자 -> 대문자로 변경
c = b.lower()
c

'python'

In [73]:
# (3) 형 변환(ste, int)
a = int("10")
type(a)

b = str(10)
type(b)

str

In [78]:
# (4) join(), split()
"*^o^*".join('Korea')

# list 데이터를 join에 넣으면
countries = ['kor', 'china', 'usa']
country = "==".join(countries)

country.split("==")
country

'kor==china==usa'

In [80]:
word = "title1,title2,title3"
word_list = word.split(",")
for i in word_list:
    print(i)

title1
title2
title3

In [83]:
# (5) format
name = "babo"
hobby = ["케이크", "코딩", "숨 쉬기 운동"]

print("안녕, 나는 {}이야. 나는 {}, {}, {}을 좋아해.".format(name, hobby[0], hobby[1], hobby[2]))

안녕, 나는 babo이야. 나는 케이크, 코딩, 숨 쉬기 운동을 좋아해.

In [94]:
# 외장함수
# (1) random

import random
random.random()
# random.randint(1,6)

a = [1,2,3,4,5,6]
# random.choice(a)
random.shuffle(a)
a

[6, 3, 4, 2, 1, 5]

In [101]:
# (2) sys => 시스템 함수
import sys
# sys path
version = sys.version[0:4]

if version < "3.11":
    print("업데이트 하세요.")

업데이트 하세요.

In [103]:
# (3) os
import os
os.mkdir("가자")
# os.rmdir('가자')

os.getcwd()

'c:\\Users\\angle\\Desktop\\python'

In [102]:
#(4)time
import time
time.localtime(time.time())

time.struct_time(tm_year=2023, tm_mon=6, tm_mday=20, tm_hour=14, tm_min=11, tm_sec=4, tm_wday=1, tm_yday=171, tm_isdst=0)

### 클래스(class)
- OOP(Object Oriented Programming: 객체 지향 프로그래밍) => 가장 기본 단위가 클래스

In [106]:
class FishBread:  #붕어빵
    def red_bean(self):
        print("이 붕어빵은 "+ self.name +"입니다.")
    
    def shucream(self):
        print("이 붕어빵은 "+ self.name +"입니다.")

FishBread.red_bean()

TypeError: FishBread.red_bean() missing 1 required positional argument: 'self'

In [111]:
class FishBread:
    # __init__ : 생성자 함수, 클래스가 실행될 때 가장 먼저 실행되는 함수
    def __init__(self, name, ingredient, price):
        self.name = name
        self.ingredient = ingredient
        self.price = price

    def bread(self):
        print("붕어빵 이름: {}, 재료: {}, 가격: {}".format(self.name, self.ingredient, self.price))

redbean_bread = FishBread("팥 붕어빵", "팥", 500)
redbean_bread.bread()

shucream_bread = FishBread("슈크림 붕어빵", "슈크림", 1000)
shucream_bread.bread()

붕어빵 이름: 팥 붕어빵, 재료: 팥, 가격: 500
붕어빵 이름: 슈크림 붕어빵, 재료: 슈크림, 가격: 1000

In [112]:
# (4) 모듈
# 변수 -> 함수 -> 클래스 -> 모듈 -> 패키지(라이브러리)